<style>
    div.gallery {
       display: flex;
       flex-wrap: wrap;
       padding: 0 1px;
    }
          div.gallery a {
              flex-grow: 1;
              flex:15%;
              margin: 2px;
              display: flex; 
          }
  
          div.gallery a img {            
              height: auto;
              width:auto;
              max-width:300px;
              object-fit: contain;
              flex-grow: 1;
          }
  
      </style>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />
  
      <div class="gallery">
          {{ $base := .Get "src" }}
          {{ $thumb := $base }}
      {{ $path := print "content/"  .Page.Dir (.Get "src") }}
  
      {{ range (readDir $path) }}
          {{- $thumbext := "-thumb" }}
          {{- $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp|webp)" }}<!-- is the current file an image? -->
          {{- if and $isimg }}
          {{- $thumb := .Name  }}
              <a data-fancybox="gallery" href="{{ $base }}/{{ .Name }}">
                  <img src="{{ $base  }}/{{ $thumb }}">  <br/>            
              </a>
          {{- end }}
      {{ end }}
      </div>